<%- include("../partials/header"); -%>

<section id="header">
  <div class="container-fluid">
    <div class="main-title-leaderboard">
      <nav class="navbar">
        <div class="mx-auto navbar-brand">
          <a class="leaderboard-title">LeaderBoard</a>
        </div>
      </nav>
    </div>
  </div>
</section>
<!-- End of Header -->

<section id="main-section">
  <div class="container-fluid">
    <div class="row">
      <!-- == -->
      <div class="col-lg-6 position-column">
        <!-- TODO: to impliment @tonal -->
        <div class="svg-positions">
          <div class="names-of-participants">
            <div class="winner-2">
              <h4 class="winner-name"><%= result2.name %></h4>
              <div class="score">
                <%= result2.total %>
              </div>
            </div>
            <div class="winner-1">
              <h4 class="winner-name"><%= result1.name %></h4>
              <div class="score">
                <%= result1.total %>
              </div>
            </div>
            <div class="winner-3">
              <h4 class="winner-name"><%= result3.name %></h4>
              <div class="score">
                <%= result3.total %>
              </div>
            </div>
          </div>

          <img src="images/score.svg" class="winner-svg" />
        </div>
      </div>

      <div class="col-lg-6 scoreboard">
        <div class="scoreboard-list">
          <!-- Search form -->
          <div class="searchbar">
            <i class="fas fa-search search-icon"></i>
            <input
              class="form-control form-rounded"
              type="text"
              placeholder="Search"
              aria-label="Search"
              id="tableSearch"
            />
          </div>
          <div class="scoreboard-content">
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Score</th>
                  </tr>
                </thead>
                <tbody id="myTable">
                  <% rankingResult.forEach(( participant)=>{%>
                  <tr>
                    <td><%= participant.ranking %></td>
                    <td><%= participant.name %></td>
                    <td><div class="score-in-table"><%= participant.total %></div></td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div></div>
</section>

<%- include("../partials/footer"); -%>
